<app-header></app-header>
<!--Display single page-->
<router-outlet></router-outlet>
<button *ngIf="isShow" (click)="scrollToTop()" class="fixed bottom-6 right-5 bg-white border border-black py-3 px-3 rounded-full hover:scale-110 transition duration-300">
  <i class="icon-angle-up"><img src="https://firebasestorage.googleapis.com/v0/b/cloth-store-project-b2058.appspot.com/o/image_data_client%2Ficon%2FpgUp.png?alt=media&token=f3eed937-79cc-4a53-baef-7a333a11aec3" alt="icon"></i>
</button>

<app-footer></app-footer>

