<div class="success-payment-container">
  <img src="https://firebasestorage.googleapis.com/v0/b/cloth-store-project-b2058.appspot.com/o/image_data_client%2Ficon%2Fcomplete.png?alt=media&token=7ab7dde9-c3d9-417d-8a75-49dfe920dfb4" style="width: 70px; height: 70px" alt="Success Image" class="success-image">
  <h2 class="success-message">Đặt hàng thành công</h2>
  <p class="success-description">Cảm ơn bạn đã tin tưởng và mua sắm tại cửa hàng</p>
  <br>
  <button class="btn btn-primary w-1/6 mx-auto" (click)="pageLoadingSucess()">Quay về</button>
</div>
