<app-modal-wrapper #AddWrapper
                   [showModal]="isInsertChose"
                   [modalTitle]="'Thêm phiếu thu'"
                   [nameButton]="'Thêm'"
                   [size]="'width: 60%; max-width: 100%;'"
                   (closeModalEvent)="closeModal()" xmlns="http://www.w3.org/1999/html">

  <!-- Your modal content goes here -->
  <div class=".modal-lg">
    <form #myForm="ngForm" class="row g-3" (ngSubmit)="onSubmit()">
      <div class="mb-3 col-md-5">
        <label for="price" class="col-form-label">Tổng cộng</label>
        <div class="input-group">
          <input type="text" class="form-control" aria-label="Dollar amount" id="price" name="price"
                 [(ngModel)]="receipt.total" [ngModelOptions]="{standalone: true}"
                 (keypress)="validateInput($event)"
                 #price="ngModel" required
                 (input)="formatCurrency()">

          <span class="input-group-text">đ</span>
        </div>
      </div>

      <div class="mb-3 col-md-3">
        <label for="personReceipt" class="col-form-label">Người nộp tiền</label>
        <div class="input-group">
          <input type="text" class="form-control" aria-label="Dollar amount" id="personReceipt" name="per"
                 [(ngModel)]="receipt.payer">
        </div>
      </div>

      <div class="md-3 col-md-2">
        <br><br>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="status1" value="option1"
                 [checked]="receiptStatus === displayReceipt[0]"
                 (click)="getStatusOnline(displayReceipt[0])">
          <label class="form-check-label" for="status1">
            {{ displayReceipt[0] }}
          </label>
        </div>
      </div>

      <div class="md-3 col-md-2">
        <br><br>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="status2" value="option2"
                 [checked]="receiptStatus === displayReceipt[1]"
                 (click)="getStatusDemo(displayReceipt[1])">
          <label class="form-check-label" for="status2">
            {{ displayReceipt[1] }}
          </label>
        </div>
      </div>

      <div class="mb-3">
        <label for="desc" class="form-label">Ghi chú</label>
        <textarea class="form-control" id="desc" name="desc" rows="3"
                  [(ngModel)]="receipt.note" [ngModelOptions]="{standalone: true}"></textarea>
      </div>

      <div class="col-md-5 mb-3">
        <label>Loại phiếu thu</label>
        <div class="dropdown">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="SizeProduct"
                  data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"
                  style="width: 100%; height: 4vh; display: flex; justify-content: space-between; align-items: center;">
            <span class="caret">{{ this.typePaymentReceiptName }}</span>
          </button>
          <div class="dropdown-menu dropdown-menu-right w-100 overflow-scroll" style="cursor: pointer">
            <ng-container *ngFor="let o of optionTypeReceipt; let i = index">
              <a class="dropdown-item" (click)="getOptionType(o.name!, i, o)">
                {{ o.name }}
              </a>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <label for="quantity">Số lượng</label>
        <input type="number" class="form-control" id="quantity" required [(ngModel)]="receiptTransaction.quantity"
               [ngModelOptions]="{standalone: true}" #qty="ngModel" (keypress)="validateInput($event)">
      </div>

      <div class="col-md-3 mb-3">
        <label for="thisprice">Giá</label>
        <input type="text" class="form-control" id="thisprice" placeholder=".000 đ" required
               [(ngModel)]="receiptTransaction.price"
               [ngModelOptions]="{standalone: true}" #price="ngModel"
               (keypress)="validateInput($event)">
      </div>

      <div class="col-md-1 mb-3">
        <br>
        <button type="button" class="btn btn-primary"
                (click)="addTypeToTable()"
                [disabled]="!receiptTransaction.quantity || !receiptTransaction.price || !this.typePaymentReceiptName">
          Thêm
        </button>
      </div>

      <div class="mb-3" *ngIf="showTableSize">
        <div class="tb-size" style="height: 16vh; overflow: scroll">
          <table class="table table-sm">
            <thead>
            <tr>
              <th style="width: 4vw"></th>
              <th scope="col">#</th>
              <th scope="col">Số lượng</th>
              <th scope="col">Đơn giá</th>
              <th scope="col">Thành tiền</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let s of receiptTransactions; let i = index">
              <td>
                <button class="btn btn-close" (click)="removeItemReceiptTransaction(i)"></button>
              </td>
              <td>{{ i }}</td>
              <td>{{ s.quantity }}</td>
              <td>{{ s.price |  currency: 'VND':'symbol':'1.0-0' }}</td>
              <td>{{ s.amount |  currency: 'VND':'symbol':'1.0-0' }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="addReceipt()">{{ btnName[0].display }}
        </button>
      </div>
    </form>
  </div>

</app-modal-wrapper>

