<app-modal-wrapper #AddWrapper
                   [showModal]="isInsertChose"
                   [modalTitle]="'Thêm Khách Hàng'"
                   [nameButton]="'Thêm'"
                   [size]="'width: 63%; max-width: 100%;'"
                   (closeModalEvent)="closeModal()" xmlns="http://www.w3.org/1999/html">

  <!-- Your modal content goes here -->
  <div class=".modal-lg">
    <form #myForm="ngForm" class="row g-3" (ngSubmit)="onSubmit()">
      <div class="mb-3 col-md-4">
        <label for="fullname" class="col-form-label">Tên Khách hàng</label>
        <input type="text" class="form-control" id="fullname" name="productName"
               [(ngModel)]="customer.fullName" [ngModelOptions]="{standalone: true}" #img="ngModel" required>
      </div>

      <div class="mb-3 col-md-4">
        <label for="Phone" class="col-form-label">Số Điện thoaại</label>
        <div class="input-group">
          <input type="text" class="form-control" aria-label="Dollar amount" id="Phone" name="price"
                 [(ngModel)]="customer.phone" [ngModelOptions]="{standalone: true}" #img="ngModel" required>
        </div>
      </div>

      <div class="mb-3 col-md-4">
        <label for="address" class="col-form-label">Địa Chỉ</label>
        <div class="input-group">
          <input type="text" class="form-control" aria-label="Dollar amount" id="address" name="price"
                 [(ngModel)]="customer.address" [ngModelOptions]="{standalone: true}" #img="ngModel" required>
        </div>
      </div>

      <div class="mb-4 col-md-2">
        <label for="address" class="col-form-label">Ngày sinh</label>
        <app-date-picker #AddDatePicker [birthDay]="CustomerBirthDay"></app-date-picker>
      </div>

      <div class="mb-3 col-md-2">
        <label class="col-form-label">Giới Tính</label>
        <div class="dropdown">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="spec" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"
                  style="width: 100%; height: 4vh; display: flex; justify-content: space-between; align-items: center;">
            {{ gender || genderDisplay }} <!-- Sử dụng placeholder hoặc genderDisplay nếu placeholder không tồn tại -->
            <span class="caret"></span>
          </button>
          <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer">
            <ng-container *ngFor="let s of specificationCustomer">
              <a class="dropdown-item" (click)="optionSpecChose(s.display)">{{ s.display }}</a>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="mb-3 col-md-4">
        <label for="email" class="col-form-label">Email</label>
        <div class="input-group">
          <input type="text" class="form-control" aria-label="Dollar amount" id="email" name="price"
                 [(ngModel)]="customer.email" [ngModelOptions]="{standalone: true}" #img="ngModel" required>
        </div>
      </div>

      <div class="mb-3 col-md-4">
        <label for="password" class="col-form-label">Mật khẩu</label>
        <div class="input-group">
          <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" id="password" name="price"
                 [(ngModel)]="customer.password" [ngModelOptions]="{standalone: true}" #img="ngModel" required>

          <button (click)="togglePasswordVisibility()" style="border: none">
            <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="addOrUpdateFunc()">{{ btnName[0].display }}</button>
      </div>
    </form>
  </div>
</app-modal-wrapper>
