.dot-green {
  width: 10px;
  height: 10px;
  background-color: #00cc66; /* Màu xanh */
  border-radius: 50%;
  display: inline-block;
}

.dot-red {
  width: 10px;
  height: 10px;
  background-color: #ff0000; /* Màu đỏ */
  border-radius: 50%;
  display: inline-block;
}

.dot-blue {
  width: 10px;
  height: 10px;
  background-color: blue; /* Màu đỏ */
  border-radius: 50%;
  display: inline-block;
}
.dot-orange {
  width: 10px;
  height: 10px;
  background-color: orange; /* Màu đỏ */
  border-radius: 50%;
  display: inline-block;
}
.dot-grey {
  width: 10px;
  height: 10px;
  background-color: grey; /* Màu đỏ */
  border-radius: 50%;
  display: inline-block;
}

.btn-custom-exl{
  background-color: #00cc66; /* Màu xanh */
  color: #fff;
}
