.btn-custom-exl{
  background-color: #00cc66; /* Màu xanh */
  color: #fff;
}

.dot-green {
  width: 10px;
  height: 10px;
  background-color: #00cc66; /* Màu xanh */
  border-radius: 50%;
  display: inline-block;
}

.dot-red {
  width: 10px;
  height: 10px;
  background-color: orange; /* Màu đỏ */
  border-radius: 50%;
  display: inline-block;
}



